include ../../components/page-header/page-header.pug
include ../../components/page-footer/page-footer.pug
include ../../components/form-find-hotel-room/form-find-hotel-room.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Landing Page
  body
    .landing-page.js-landing-page
      section.landing-page__main-section
        .landing-page__page-header
          +page-header({logoSrc: require('./images/logo.png'), isUserActive: false})
        .landing-page__background-and-form-find-hotel-room-and-text
          .landing-page__background
          .landing-page__form-find-hotel-room
            +form-find-hotel-room()
          .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        .landing-page__page-footer
          +page-footer({logoSrc: require('./images/logo.png'), socials: [
            {url: '/mock-address/change-me', imageSrc: require('./images/twitter.png'), alt: 'Twitter'},
            {url: '/mock-address/change-me', imageSrc: require('./images/facebook.png'), alt: 'Facebook'},
            {url: '/mock-address/change-me', imageSrc: require('./images/instagram.png'), alt: 'Instagram'}
          ]})