include ../../components/logo/logo.pug
include ../../components/color-pick/color-pick.pug
include ../../components/text-example/text-example.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Colors and Types
  body
    section.colors-and-types__wrapper
      section.colors-and-types__logo-container
        +logo()
      section.colors-and-types__main-container
        section.colors-and-types__colors-container
          +color-pick({ className: 'dark-shade-100', colorName: 'dark shade 100%', colorHex: '#1f2041' })
          +color-pick({ className: 'dark-shade-75', colorName: 'dark shade 75%', colorHex: '#1f2041' })
          +color-pick({ className: 'dark-shade-50', colorName: 'dark shade 50%', colorHex: '#1f2041' })
          +color-pick({ className: 'dark-shade-25', colorName: 'dark shade 25%', colorHex: '#1f2041' })
          +color-pick({ className: 'dark-shade-5', colorName: 'dark shade 5%', colorHex: '#1f2041' })
          +color-pick({ className: 'purple', colorName: 'purple', colorHex: '#bc9cff' })
          +color-pick({ className: 'green', colorName: 'green', colorHex: '#6fcf97' })
        section.colors-and-types__texts-container
          +text-example({ className: 'h1', tagName: 'H1', definition: 'This one is the sub-section or widget title' })
          +text-example({ className: 'h2', tagName: 'H2', definition: 'Next one is the item title inside widgets' })
          +text-example({ className: 'h3', tagName: 'H3', definition: 'This label or cta text' })
          +text-example({ className: 'body', tagName: 'Body', definition: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' })