@import '../../variables.scss';

.component-description {
  display: flex; 
  &__name {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.14rem;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-100');
  }
  &__state {
    margin-left: auto;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: map-get($font-sizes, 'h3');
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-25');
  }
}