@import '../../variables.scss';

.sign-in {
  &__wrapper {
    max-width: 110rem;
    margin: 0 auto;
  }
  &__background {
    height: 66.9rem;
    background: url('images/sign-in-background.png') no-repeat;
    background-size: 100.5%;
    background-position-y: 103%;
    background-position-x: 8%;
  }
  &__form-sign-in {
    position: absolute;
    top: 23rem;
    left: 50.5rem;
  }
  &__separator {
    height: 0.2rem;
    background-color: map-get($colors, 'dark-shade-25');
  }
  &__copyright-bar {
    margin-top: 0.35rem;
  }
}