@import '../../variables.scss';

.button {
  position: relative;
  height: inherit;
  user-select: none;
  &__button {
    background: none;
    border: none;
    width: 100%;
    height: inherit;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: map-get($font-sizes, 'h3');
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    outline: none;
    &_filled {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 3rem;
      &:hover {
        background: linear-gradient(180deg, rgba(187, 156, 255, 0.5) 0%, rgba(139, 165, 249, 0.5) 100%);
      }
    }
    &_bordered {
      border: 2px solid map-get($colors, 'purple');
      border-radius: 3rem;
      color: map-get($colors, 'purple');
      &:hover {
        border-color: rgba(187, 156, 255, 0.5);
      }
    }
    &_colored-text {
      color: map-get($colors, 'purple');
      &:hover {
        color: map-get($colors, 'dark-shade-50');
      }
    }
    &_with-arrow {
      position: relative;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 3rem;
      &:hover {
        background: linear-gradient(180deg, rgba(187, 156, 255, 0.5) 0%, rgba(139, 165, 249, 0.5) 100%);
      }
    }
  }
  &__arrow {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-family: 'Material Icons';
    font-size: 2rem;
    color: white;
  }
}