mixin button($arguments)
  - $arguments = $arguments || {}
  .button
    button(type="button" class="button__button" + 
      ($arguments.isFilled ? ' button__button_filled' : '') + 
      ($arguments.isBordered ? ' button__button_bordered' : '') + 
      ($arguments.hasArrow ? ' button__button_with-arrow' : '') + 
      ($arguments.isTextColored ? ' button__button_colored-text' : '')
    )= $arguments.text
    if $arguments.hasArrow === true
      span.button__arrow arrow_forward
