mixin item-quantity-dropdown($arguments)
  - $arguments = $arguments || {}
  .item-quantity-dropdown.js-item-quantity-dropdown
    .item-quantity-dropdown__select.js-item-quantity-dropdown__select= $arguments.placeholder
      .item-quantity-dropdown__arrow.js-item-quantity-dropdown__arrow expand_more
    .item-quantity-dropdown__options-container.js-item-quantity-dropdown__options-container
      .item-quantity-dropdown__options.js-item-quantity-dropdown__options