mixin item-quantity-dropdown($arguments)
  .item-quantity-dropdown
    .item-quantity-dropdown__select.js-item-quantity-dropdown__select Количество комнат
    .item-quantity-dropdown__options-container
      .item-quantity-dropdown__option
      .item-quantity-dropdown__option
      .item-quantity-dropdown__option