.item-quantity-dropdown {
  position: relative;
  &__head-container {
    display: flex; 
  }
  &__select-name {
    font-family: 'Monserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #1f2041;
  }
  &__select-state {
    margin-left: auto;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.25);
  }
  &__select {
    cursor: pointer;
  }
  &__options-container {
    display: none;
    position: absolute;
    width: 100%;
    &_opened {
      display: block;
      top: 3rem;
      left: 0;
    }
  }
  &__option {
    display: flex;
    justify-content: space-between;
  }
  &__counter-container {
    display: flex;
  }
}