@import '../../variables.scss';

.item-quantity-dropdown {
  &__select {
    position: relative;
    height: 4.1rem;
    padding: 1rem 0.5rem 0 1.4rem;
    border: 1px solid map-get($colors, 'dark-shade-25');
    border-radius: 4px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    color: map-get($colors, 'dark-shade-75');
    cursor: pointer;
    &_expanded {
      border-bottom-left-radius: 0;  
      border-bottom-right-radius: 0;  
    }
  }
  &__arrow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: 'Material Icons';
    font-size: 2rem;
    transition: all 0.5s ease;
    opacity: 0.75;
    &_expanded {
      transform: rotate(180deg);
    }
  }
  &__options-container {
    position: relative;
  }
  &__options {
    display: none;
    position: absolute;
    width: 100%;
    &_expanded {
      display: block;
      border: 1px solid map-get($colors, 'dark-shade-25');
      border-top: none;
      border-bottom-left-radius: 4px;  
      border-bottom-right-radius: 4px;
    }
  }
  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem 0.5rem 0 1.4rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.13rem;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-100');
  }
  &__counter-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 9rem;
  }
  &__decrement {
    width: 3rem;
    height: 3rem;
    border: 1px solid map-get($colors, 'dark-shade-50');
    border-radius: 50%;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 1.65rem;
    font-weight: normal;
    line-height: 2.6rem;
    text-align: center;
    color: map-get($colors, 'dark-shade-50');
    cursor: pointer;
    user-select: none;
    &_disabled {
      border-color: map-get($colors, 'dark-shade-25');
      color: map-get($colors, 'dark-shade-25');
      cursor: not-allowed;
    }
  }
  &__counter {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    color: map-get($colors, 'dark-shade-100');
  }
  &__increment {
    width: 3rem;
    height: 3rem;
    border: 1px solid map-get($colors, 'dark-shade-50');
    border-radius: 50%;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 1.65rem;
    font-weight: normal;
    line-height: 2.6rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  &__clear-and-apply-buttons-container {
    display: flex;
    height: 4.5rem;
    padding: 2rem 0.5rem 0 1.4rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.13rem;
    text-transform: uppercase;
    color: map-get($colors, 'purple');
  }
  &__clear {
    color: map-get($colors, 'dark-shade-50');
    cursor: pointer;
    &_disabled {
      display: none;
    }
  }
  &__apply {
    margin-left: auto;
    cursor: pointer;
  }
}