mixin color-pick(color-classname)
  div(class="color-pick__example color-pick__example_color_")
  .color-pick__description-container
    p.color-pick__color-name= $color-name
    p.color-pick__color-hex= $color-hex