mixin color-pick($className, $colorName, $colorHex)
  .color-pick__container
    div(class="color-pick__example color-pick__example_color_" + $className)
    .color-pick__description-container
      p.color-pick__color-name= $colorName
      p.color-pick__color-hex= $colorHex