mixin color-pick($arguments)
  - $arguments = $arguments || {}
  .color-pick__container
    div(class="color-pick__example color-pick__example_color_" + $arguments.className)
    .color-pick__description-container
      p.color-pick__color-name= $arguments.colorName
      p.color-pick__color-hex= $arguments.colorHex