.color-pick {
  &__container {
    display: flex;
    align-items: center;
  }
  &__example {
    width: 6.6rem;
    height: 6.8rem;
    border-radius: 0.7rem;
    &_color {
      &_dark-shade-100 {
        background-color: #1f2041;
      }
      &_dark-shade-75 {
        background-color: rgba(31, 32, 65, 0.75);
      }
      &_dark-shade-50 {
        background-color: rgba(31, 32, 65, 0.5);
      }
      &_dark-shade-25 {
        background-color: rgba(31, 32, 65, 0.25);
      }
      &_dark-shade-5 {
        background-color: rgba(31, 32, 65, 0.05);
      }
      &_purple {
        background-color: #bc9cff;
      }
      &_green {
        background-color: #6fcf97;
      }
    }
  }
  &__description-container {
    margin-left: 3.8rem;
  }
  &__color-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: bold;
  }
  &__color-hex {
    margin-top: 0.6rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: normal;
  }
}