mixin date-dropdown($arguments = {})
  .date-dropdown.js-date-dropdown
    input.date-dropdown__air-datepicker.js-date-dropdown__air-datepicker(type="text" placeholder=$arguments.placeholder)
    .date-dropdown__arrow.js-date-dropdown__arrow expand_more
    