include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list($arguments)
  .expandable-checkbox-list.js-expandable-checkbox-list
    .expandable-checkbox-list__spoiler
      p.expandable-checkbox-list__name= $arguments.name
      span.expandable-checkbox-list__arrow expand_more
    .js-expandable-checkbox-list__checkboxes.expandable-checkbox-list__checkboxes.expandable-checkbox-list__checkboxes_hidden
      each $checkbox in $arguments.checkboxes
        .expandable-checkbox-list__checkbox
          +checkbox-button($checkbox)