@import '../../variables.scss';

.expandable-checkbox-list {
  cursor: pointer;
  user-select: none;
  &__spoiler {
    display: flex;
    align-items: center;
  }
  &__name {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.14rem;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-100');
  }
  &__arrow {
    margin-left: auto;
    font-family: 'Material Icons';
    font-weight: 400;
    font-size: 2.3rem;
    color: map-get($colors, 'dark-shade-100');
    transition: transform 0.5s ease;
    &_opened {
      transform: rotate(180deg);
    }
  }
  &__checkboxes {
    padding-top: 0.3rem;
    &_hidden {
      display: none;
    }
  }
  &__checkbox {
    margin: 0.95rem 0;
  }
}