.form-elements {
  &__wrapper {
    margin: 1rem auto 0;
    @media only screen and (min-width: 768px) {
      max-width: 136rem;
      margin: 0;
    }
  }
  &__logo-section {
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
    @media only screen and (min-width: 768px) {
      margin: 2.9rem 0 0 5.5rem;
      height: 4.5rem;
    }
  }
  &__main-section {
    margin: 2rem auto 0;
    @media only screen and (min-width: 768px) {
      width: 89.1%;
      margin: 6.15rem auto 0;
    }
  }
  &__first-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60rem;
  }
  &__text-field-section {
    width: 30.2rem;
  }
  &__text-field-hovered-section {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &__item-quantity-dropdown-section {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &__item-quantity-dropdown {
    margin-top: 0.45rem;
    width: 30.2rem;
  }
  &__masked-text-field-section {
    margin-top: 2.2rem;
    width: 30.2rem;
  }
  &__date-dropdown-section {
    margin-top: 3.9rem;
    width: 30.2rem;
    display: flex;
    justify-content: space-between;
  }
  &__date-dropdown-short-container {
    width: 14.2rem;
  }
  &__date-dropdown {
    margin-top: 0.5rem;
  }
  &__filter-date-dropdown-section {
    margin-top: 4rem;
    width: 25rem;
  }
  &__filter-date-dropdown {
    margin-top: 0.3rem;
  }
  &__subscription-text-field-section {
    margin-top: 4rem;
    width: 25rem;
  }
  &__checkbox-buttons-section {
    width: 20rem;
  }
  &__checkbox-buttons {
    padding-top: 0.5rem;
  }
  &__checkbox-button {
    margin-top: 1rem;
  }
  &__radio-buttons-section {
    margin-top: 4.3rem;
  }
  &__radio-buttons {
    display: flex;
    width: 20.5rem;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  &__toggle-buttons-section {
    margin-top: 3.8rem;
  }
  &__toggle-buttons {
    padding-top: 0.2rem;
  }
  &__toggle-button {
    margin-top: 1.3rem;
  }
  &__like-buttons-section {
    margin-top: 4.2rem;
  }
  &__like-buttons {
    display: flex;
    width: 8.3rem;
    justify-content: space-between;
    padding-top: 1.3rem;
  }
  &__rate-buttons-section {
    margin-top: 4rem;
    margin-bottom: 9rem;
  }
  &__rate-buttons {
    padding-top: 1.5rem;
    display: flex;
    width: 24.7rem;
    justify-content: space-between;
  }
  &__range-slider-section {
    min-height: 6rem;
  }
  &__buttons-section {
    margin-top: 2.3rem;
  }
  &__filled-buttons {
    margin-top: 1.45rem;
    display: flex;
    justify-content: space-between;
    width: 20.5rem;
  }
  &__bordered-buttons {
    margin-top: 2.9rem;
    display: flex;
    justify-content: space-between;
    width: 20.5rem;
  }
  &__colored-text-buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 13.5rem;
  }
  &__button {
    width: 9.3rem;
  }
  &__colored-text-button {
    width: 6.1rem;
  }
  &__button-with-arrow {
    margin-top: 2.7rem;
    width: 30rem;
  }
  &__pagination-section {
    margin-top: 4rem;
    width: 22.7rem;
  }
  &__pagination {
    margin-top: 1.3rem;
  }
  &__second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25.2rem;
    margin-top: 9rem;
  }
  &__first-column-second-section {
    width: 25rem;
  }
  &__first-item-quantity-dropdown-in-second-section {
    margin-top: 0.5rem;
  }
  &__second-element-quantity-dropdown-in-second-section {
    margin-top: 2rem;
  }
  &__second-item-quantity-dropdown-in-second-section {
    height: 15.3rem;
    margin-top: 0.35rem;
  }
  &__second-column-second-section {
    width: 30.2rem;
  }
  &__third-item-quantity-dropdown-in-second-section {
    margin-top: 0.35rem;
    height: 15.3rem;
  }
  &__third-column-second-section {
    width: 30.2rem;
  }
  &__fourth-item-quantity-dropdown-in-second-section {
    margin-top: 0.35rem;
    height: 15.3rem;
  }
  &__third-section {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    height: 26rem;
    margin-top: 5rem;
  }
  &__third-section-first-column {
    width: 25rem;
  }
  &__second-expandable-checkbox-list {
    margin-top: 4.6rem;
  }
  &__third-section-second-column {
    width: 25rem;
    margin-left: 17.2rem;
  }
  &__rich-checkbox-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.1rem;
    margin-top: 1.5rem;
  }
  &__third-section-third-column {
    margin-left: 12rem;
    width: 26rem;
  }
  &__bullet-list-container {
    margin-top: 0.7rem;
  }
  &__fourth-section {
    margin-top: 8rem;
  }
  &__fourth-section-first-column {
    width: 27rem;
  }
}