include ../../components/logo/logo.pug
include ../../components/text-field/text-field.pug
include ../../components/item-quantity-dropdown/item-quantity-dropdown.pug
include ../../components/component-description/component-description.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/date-dropdown/date-dropdown.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Colors and Types
  body
    section.form-elements-wrapper
      section.form-elements-logo-container
        +logo()
      section.form-elements-main-container
        section.form-elements-text-field-container
          +component-description({name: 'Text field', state: 'Default'})
          +text-field({type: 'text', placeholder: 'Email'})
        section.form-elements-text-field-hover-container
          +component-description({name: 'Text field', state: 'Hover / Focus'})
          +text-field({type: 'text'})
        section.form-elements-item-quantity-dropdown-description-container
          +component-description({name: 'Dropdown', state: 'Default'})
          .form-elements-item-quantity-dropdown-container
            +item-quantity-dropdown({placeholder: 'Удобства номера'})
        section.form-elements-masked-text-field-container
          +component-description({name: 'Masked text field', state: 'Default'})
          +masked-text-field({placeholder: 'ДД.ММ.ГГГГ'})
        section
          +component-description({name: 'Date dropdown'})
          +date-dropdown({placeholder: 'ДД.ММ.ГГГГ'})