.form-elements {
  &__wrapper {
    margin: 1rem auto 0;
    @media only screen and (min-width: 768px) {
      max-width: 136rem;
      margin: 0;
    }
  }
  &__logo-section {
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
    @media only screen and (min-width: 768px) {
      margin: 2.9rem 0 0 2.9rem;
      height: 4.5rem;
    }
  }
  &__main-section {
    margin: 2rem auto 0;
    @media only screen and (min-width: 768px) {
      width: 80.5%;
      margin: 6.15rem auto 0;
    }
  }
  &__upper-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60rem;
  }
  &__text-field-section {
    width: 30.2rem;
  }
  &__text-field-hovered-section {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &__item-quantity-dropdown-section {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &__item-quantity-dropdown {
    margin-top: 0.45rem;
    width: 30.2rem;
  }
  &__masked-text-field-section {
    margin-top: 2.2rem;
    width: 30.2rem;
  }
  &__date-dropdown-section {
    margin-top: 3.9rem;
    width: 30.2rem;
    display: flex;
    justify-content: space-between;
  }
  &__date-dropdown-short-container {
    width: 14.2rem;
  }
  &__date-dropdown {
    margin-top: 0.5rem;
  }
  &__filter-date-dropdown-section {
    margin-top: 4rem;
    width: 25rem;
  }
  &__filter-date-dropdown {
    margin-top: 0.3rem;
  }
  &__subscription-text-field-section {
    margin-top: 4rem;
    width: 25rem;
  }
  &__checkbox-buttons-section {
    width: 20rem;
  }
  &__checkbox-buttons {
    padding-top: 0.5rem;
  }
  &__checkbox-button {
    margin-top: 1rem;
  }
}