.form-elements {
  &-wrapper {
    margin: 1rem auto 0;
    @media only screen and (min-width: 768px) {
      max-width: 136rem;
      margin: 0;
    }
  }
  &-logo-container {
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
    @media only screen and (min-width: 768px) {
      margin: 2.9rem 0 0 2.9rem;
      height: 4.5rem;
    }
  }
  &-main-container {
    margin: 2rem auto 0;
    @media only screen and (min-width: 768px) {
      width: 80.5%;
      margin: 6.15rem auto 0;
    }
  }
  &-text-field-container {
    width: 30.2rem;
  }
  &-text-field-hover-container {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &-item-quantity-dropdown-description-container {
    margin-top: 2rem;
    width: 30.2rem;
  }
  &-item-quantity-dropdown-container {
    margin-top: 0.45rem;
    width: 30.2rem;
  }
  &-masked-text-field-container {
    margin-top: 2.2rem;
    width: 30.2rem;
  }
  &-date-dropdown-container {
    margin-top: 3.9rem;
    width: 30.2rem;
    display: flex;
    justify-content: space-between;
  }
  &-date-dropdown-input-container {
    margin-top: 0.5rem;
  }
  &-date-dropdown-container-short {
    width: 14.2rem;
  } 
}