include ../../components/logo/logo.pug
include ../../components/text-field/text-field.pug
include ../../components/item-quantity-dropdown/item-quantity-dropdown.pug
include ../../components/component-description/component-description.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/subscription-text-field/subscription-text-field.pug
include ../../components/checkbox-button/checkbox-button.pug
include ../../components/radio-button/radio-button.pug
include ../../components/toggle-button/toggle-button.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/icon-text-list/icon-text-list.pug
include ../../components/feedback/feedback.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Form Elements
  body
    .form-elements.js-form-elements
      section.form-elements__wrapper
        section.form-elements__logo-container
          +logo()
        section.form-elements__main-section
          section.form-elements__first-section
            section.form-elements__first-section-first-column
              section.form-elements__text-field-section
                +component-description({name: 'Text field', state: 'Default'})
                +text-field({type: 'text', placeholder: 'Email'})
              section.form-elements__text-field-hovered-section
                +component-description({name: 'Text field', state: 'Hover / Focus'})
                +text-field({type: 'text', placeholder: 'This is pretty awesome'})
              section.form-elements__item-quantity-dropdown-section
                +component-description({name: 'Dropdown', state: 'Default'})
                .form-elements__item-quantity-dropdown
                  +item-quantity-dropdown({placeholder: 'Сколько гостей'})
              section.form-elements__masked-text-field-section
                +component-description({name: 'Masked text field', state: 'Default'})
                +masked-text-field({placeholder: 'ДД.ММ.ГГГГ'})
              section.form-elements__date-dropdown-section
                  .form-elements__date-dropdown-short-container
                    +component-description({name: 'Date dropdown'})
                    .form-elements__date-dropdown
                    +date-dropdown({placeholder: 'ДД.ММ.ГГГГ'})
                  .form-elements__date-dropdown-short-container
                    +component-description({name: 'Date dropdown'})
                    .form-elements__date-dropdown
                    +date-dropdown({placeholder: '19.08.2019'})
              section.form-elements__filter-date-dropdown-section
                +component-description({name: 'Filter date dropdown'})
                .form-elements__filter-date-dropdown
                  +filter-date-dropdown({placeholder: '19 авг - 23 авг'})
              section.form-elements__subscription-text-field-section
                +component-description({name: 'Subscription text field'})
                .form-elements__subcription-text-field
                  +subscription-text-field({placeholder: ''})
            section.form-elements__first-section-second-column
              section.form-elements__checkbox-buttons-section
                +component-description({name: 'Checkbox buttons'})
                .form-elements__checkbox-buttons
                  .form-elements__checkbox-button
                    +checkbox-button({id: 'maySmoke', name: 'maySmoke', value: 'true', text: 'Можно курить'})
                  .form-elements__checkbox-button
                    +checkbox-button({id: 'mayPets',name: 'mayPets', value: 'true', text: 'Можно с питомцами', checked: 'checked'})
                  .form-elements__checkbox-button
                    +checkbox-button({id: 'mayGuests',name: 'mayGuests', value: '10', text: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'})
              section.form-elements__radio-buttons-section
                +component-description({name: 'Radio buttons'})
                .form-elements__radio-buttons
                  +radio-button({id: 'male', name: 'gender', value: 'male', text: 'Мужчина', checked: 'checked'})
                  +radio-button({id: 'female', name: 'gender', value: 'female', text: 'Женщина'})
              section.form-elements__toggle-buttons-section
                +component-description({name: 'Toggle'})
                .form-elements__toggle-buttons
                  .form-elements__toggle-button
                    +toggle-button({id: 'getSpecialChecked', name: 'special', value: 'true', text: 'Получать спецпредложения', checked: 'checked'})
                  .form-elements__toggle-button
                    +toggle-button({id: 'getSpecial', name: 'special', value: 'true', text: 'Получать спецпредложения'})
              section.form-elements__like-buttons-section
                +component-description({name: 'Like button'})
                .form-elements__like-buttons
                  +like-button({likesCount: '2', isLiked: false})
                  +like-button({likesCount: '12', isLiked: true})
              section.form-elements__rate-buttons-section
                +component-description({name: 'Rate button'})
                .form-elements__rate-buttons
                  +rate-button({id: ['1stStarFirst', '2ndStarFirst', '3rdStarFirst', '4thStarFirst', '5thStarFirst'], name: 'ratingFirst', initRating: 4})
                  +rate-button({id: ['1stStarSecond', '2ndStarSecond', '3rdStarSecond', '4thStarSecond', '5thStarSecond'], name: 'ratingSecond', initRating: 5})
            section.form-elements__first-section-third-column
              section.form-elements__range-slider-section
                .form-elements__range-slider Здесь будет Range Slider...
              section.form-elements__buttons-section
                +component-description({name: 'Buttons'})
                .form-elements__filled-buttons
                  .form-elements__button
                    +button({text: 'Click me', isFilled: true})
                  .form-elements__button
                    +button({text: 'Click me', isFilled: true})
                .form-elements__bordered-buttons
                  .form-elements__button
                    +button({text: 'Click me', isBordered: true})
                  .form-elements__button
                    +button({text: 'Click me', isBordered: true})
                .form-elements__colored-text-buttons
                  .form-elements__colored-text-button
                    +button({text: 'Click me', isTextColored: true})
                  .form-elements__colored-text-button
                    +button({text: 'Click me', isTextColored: true})
                .form-elements__button-with-arrow
                  +button({text: 'Перейти к оплате', hasArrow: true})
              .form-elements__pagination-container
                +component-description({name: 'Pagination'})
                .form-elements__pagination
                  +pagination()
          section.form-elements__second-section
            .form-elements__second-section-first-column
              .form-elements__second-section-first-item-quantity-dropdown-container
                  +component-description({name: 'Dropdown', state: 'Default'})
                  .form-elements__second-section-first-item-quantity-dropdown
                    +item-quantity-dropdown({placeholder: '2 спальни, 2 кровати'})
              .form-elements__second-section-second-item-quantity-dropdown-container
                +component-description({name: 'Dropdown', state: 'Expanded'})
                .form-elements__second-section-second-item-quantity-dropdown
                  +item-quantity-dropdown({placeholder: '2 спальни, 2 кровати'})
            .form-elements__second-section-second-column
              .form-elements__second-section-third-item-quantity-dropdown-container
                +component-description({name: 'Dropdown'})
                .form-elements__second-section-third-item-quantity-dropdown
                  +item-quantity-dropdown({placeholder: 'Сколько гостей'})
            .form-elements__second-section-third-column
              .form-elements__second-section-fourth-item-quantity-dropdown-container
                +component-description({name: 'Dropdown'})
                .form-elements__second-section-fourth-item-quantity-dropdown
                  +item-quantity-dropdown({placeholder: '3 гостя'})
          section.form-elements__third-section
            .form-elements__third-section-first-column
              .form-elements__third-section-first-expandable-checkbox-list
                +expandable-checkbox-list({ name: 'Expandable checkbox list', isHidden: true, checkboxes: [
                  {id: 'breakfast', name: 'breakfast', value: 'true', text: 'Завтрак'},
                  {id: 'writingTable', name: 'writingTable', value: 'true', text: 'Письменный стол', checked: 'checked'},
                  {id: 'infantChair', name: 'infantChair', value: 'true', text: 'Стул для кормления', checked: 'checked'},
                  {id: 'infantBed', name: 'infantBed', value: 'true', text: 'Кроватка', checked: 'checked'},
                  {id: 'TV', name: 'TV', value: 'true', text: 'Телевизор'},
                  {id: 'shampoo', name: 'shampoo', value: 'true', text: 'Шампунь'}] })
              .form-elements__third-section-second-expandable-checkbox-list
                +expandable-checkbox-list({ name: 'Expandable checkbox list', isHidden: false, checkboxes: [
                  {id: 'breakfast2', name: 'breakfast', value: 'true', text: 'Завтрак'},
                  {id: 'writingTable2', name: 'writingTable', value: 'true', text: 'Письменный стол', checked: 'checked'},
                  {id: 'infantChair2', name: 'infantChair', value: 'true', text: 'Стул для кормления', checked: 'checked'},
                  {id: 'infantBed2', name: 'infantBed', value: 'true', text: 'Кроватка', checked: 'checked'},
                  {id: 'TV2', name: 'TV', value: 'true', text: 'Телевизор'},
                  {id: 'shampoo2', name: 'shampoo', value: 'true', text: 'Шампунь'}] })
            .form-elements__third-section-second-column
              .form-elements__third-section-rich-checkbox-buttons-container
                +component-description({name: 'Rich checkbox buttons'})
                .form-elements__third-section-rich-checkbox-buttons
                  +checkbox-button({id: 'hasWideCorridor', name: 'hasWideCorridor', value: 'true', text: 'Широкий коридор', details: `Ширина коридоров в номере не\u00A0менее 91 см`})
                  +checkbox-button({id: 'hasDisabledHelper', name: 'hasDisabledHelper', value: 'true', text: 'Помощник для инвалидов', details: 'На 1 этаже вас встретит\u00A0специалист и проводит до номера.'})
            .form-elements__third-section-third-column
              .form-elements__third-section-bullet-list-container
                +component-description({name: 'Bullet list'})
                .form-elements__bullet-list
                  +bullet-list([{text: 'Нельзя с питомцами'}, {text: 'Без вечеринок и мероприятий'}, {text: 'Время прибытия — после 13:00, а выезд до 12:00'}])
          section.form-elements__fourth-section
            .form-elements__fourth-section-first-column
              .form-elements__fourth-section-icon-text-list-container
                +icon-text-list([{iconName: 'insert_emoticon', name: 'Комфорт', description: 'Шумопоглощающие стены', hasSeparator: true},
                  {iconName: 'location_city', name: 'Удобство', description: 'Окно в каждой из спален', hasSeparator: true}])
            .form-elements__fourth-section-second-column
              .form-elements__fourth-section-feedback-container
                +feedback({
                  avatarSrc: require('./images/user1.png').default,
                  avatarAlt: 'Мурад Сарафанов',
                  name: 'Мурад Сарафанов',
                  time: '5 дней назад',
                  likeButtonArguments: {
                    likesCount: '12',
                    isLiked: true
                  },
                  feedbackText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
                )