.text-example {
  &__container {
    display: flex;
    width: 320px;
    @media only screen and (min-width: 768px) {
      width: 40rem;
    }
  }
  &__type {
    min-width: 3.5rem;
    text-align: right;
    &_h1 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 2.4rem;
      color: rgba(31, 32, 65, 0.25);
    }
    &_h2 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      color: rgba(31, 32, 65, 0.25);
    }
    &_h3 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      color: rgba(31, 32, 65, 0.25);
    }
    &_body {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 1.25rem;
      color: rgba(31, 32, 65, 0.25);
    }
  }
  &__definition {
    margin-left: 2.7rem;
    &_h1 {
      font-family: 'Quicksand', Arial, sans-serif;
      font-weight: bold;
      font-size: 2.4rem;
      color: #1f2041;
    }
    &_h2 {
      font-family: 'Quicksand', Arial, sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      color: #1f2041;
    }
    &_h3 {
      font-family: 'Monserrat', Arial, sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #1f2041;
    }
    &_body {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 2rem;
      color: rgba(31, 32, 65, 0.25);
    }
  }
}