@import '../../variables.scss';

.form-find-hotel-room {
  width: 35.6rem;
  background: #fff;
  border: 0.07rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.79rem rgba(0, 0, 0, 0.2);
  border-radius: 0.29rem;
  &__wrapper {
    width: 84.8%;
    margin: 3.5rem auto 2.75rem;
  }
  &__title {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 125%;
  }
  &__datepickers {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
  }
  &__datepicker-and-description {
    width: 46.87%;
  }
  &__datepicker {
    margin-top: 0.5rem;
  }
  &__guests-title {
    margin-top: 2rem;
  }
  &__guests-dropdown {
    margin-top: 0.35rem;
  }
  &__find-room-button {
    margin-top: 3rem;
  }
}