.headers-and-footers {
  background-color: #e5e5e5;
  &__wrapper {
    margin: 1rem auto 0;
    @media only screen and (min-width: 768px) {
      max-width: 136rem;
      margin: 0;
    }
  }
  &__logo-section {
    height: 4.5rem;
    @media only screen and (min-width: 768px) {
      padding: 2.8rem;
    }
  }
  &__main-section {
    margin: 2rem auto 0;
    @media only screen and (min-width: 768px) {
      height: 100rem;
      margin: 7.6rem auto 0;
    }
  }
  &__page-header-user-active {
    margin-top: 3.75rem;
  }
  &__page-footer {
    margin-top: 3.75rem;
  }
  &__page-footer-creative {
    margin: 3.8rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 72.5rem;
    background: white;
    padding-top: 11.3rem;
    padding-bottom: 11.3rem;
    box-shadow: 0 0.07rem 0 rgba(31, 32, 65, 0.1);
  }
}