@import '../../variables.scss';

.form-registration {
  width: 35.6rem;
  background: #fff;
  border: 0.07rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.79rem rgba(0, 0, 0, 0.2);
  border-radius: 0.29rem;
  &__wrapper {
    width: 84.8%;
    margin: 3.5rem auto 2.75rem;
  }
  &__title {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 125%;
  }
  &__first-name-input {
    margin-top: 1.75rem;
  }
  &__second-name-input {
    margin-top: 1rem;
  }
  &__gender-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 20.5rem;
    margin-top: 1rem;
  }
  &__birth-date {
    margin-top: 2.3rem;
  }
  &__authorization-data {
    margin-top: 2rem;
  }
  &__email {
    margin-top: 1rem;
  }
  &__toggle-button {
    margin-top: 1rem;
  }
  &__payment-button {
    margin-top: 2.3rem;
    min-width: 100%;
    min-height: 4rem;
  }
  &__has-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.8rem;
  }
  &__has-account-text {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 129%;
    color: #000;
  }
  &__has-account-button {
    min-width: 9.3rem;
    min-height: 4rem;
  }
}