mixin masked-text-field($arguments)
  - $arguments = $arguments || {}
  .masked-text-field.js-masked-text-field
    input.masked-text-field__input.js-masked-text-field__input(type="text" placeholder=$arguments.placeholder)