mixin filter-date-dropdown($arguments)
  - $arguments = $arguments || {}
  .filter-date-dropdown.js-filter-date-dropdown
    input.filter-date-dropdown__air-datepicker.js-filter-date-dropdown__air-datepicker(type="text" placeholder=$arguments.placeholder)
    .filter-date-dropdown__arrow.js-filter-date-dropdown__arrow expand_more
    