include ../like-button/like-button.pug

mixin feedback($arguments)
  ul.feedback.js-feedback
    each $element in $arguments
      li.feedback__element
        .feedback__client-info
          .feedback__client-avatar.js-feedback__client-avatar(data-avatar=$element.clientAvatar)
          .feedback__name-and-time
            .feedback__name= $element.name
            .feedback__time= $element.time
        .feedback__feedback-info
          .feedback__like-button
            +like-button($element.likeButtonArguments)
          .feedback__feedback-text= $element.feedbackText