include ../like-button/like-button.pug

mixin feedback($arguments = {})
  ul.feedback.js-feedback
      li.feedback__element
        .feedback__client-info
          img.feedback__client-avatar(src=$arguments.avatarSrc alt=$arguments.avatarAlt)
          .feedback__name-and-time
            .feedback__name= $arguments.name
            .feedback__time= $arguments.time
        .feedback__feedback-info
          .feedback__like-button
            +like-button($arguments.likeButtonArguments)
          .feedback__feedback-text= $arguments.feedbackText