@import '../../variables.scss';

.page-footer {
  background: white;
  box-shadow: 0 0.07rem 0 rgba(31, 32, 65, 0.1);
  &_creative {
    background: white;
    box-shadow: 0 0.71rem 1.42rem rgba(31, 32, 65, 0.05);
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 109.4rem;
    margin: 0 auto;
    padding-top: 9.5rem;
    padding-bottom: 9.6rem;
    box-shadow: 0 0.07rem 0 rgba(31, 32, 65, 0.1);
    &_creative {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 72.5rem;
      margin: 0 auto;
      padding-top: 11.3rem;
      padding-bottom: 11.3rem;
    }
  }
  &__logo-and-description {
    width: 25rem;
  }
  &__logo-container {
    margin-bottom: 1.7rem;
  }
  &__logo {
    margin-right: auto;
    width: 9.8rem;
  }
  &__description {
    margin-top: 1.4rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 171%;
    text-decoration: none;
    color: map-get($colors, 'dark-shade-75');
  }
  &__links-header {
    padding-top: 0.3rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 121%;
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-75');
  }
  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__list-item {
    margin-top: 2rem; 
  }
  &__link {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 121%;
    text-decoration: none;
    text-transform: none;
    color: map-get($colors, 'dark-shade-75');
    &:hover {
      color: map-get($colors, 'dark-shade-100');
    }
  }
  &__navigation {
    margin-left: 3.1rem;
    width: 17.3%;
  }
  &__about-us {
    width: 17.3%;
  }
  &__support {
    width: 17.3%;
  }
  &__subscription {
    width: 24rem;
  }
  &__subscription-header {
    padding-top: 0.3rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 121%;
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-75');
  }
  &__subscription-description {
    margin-top: 1.6rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 171%;
    text-decoration: none;
    color: map-get($colors, 'dark-shade-75');
  }
  &__subscription-text-field {
    margin-top: 2.35rem;
  }
  &__copyright-bar-wrapper {
    max-width: 109.5rem;
    margin: 0 auto;
    margin-top: 0.07rem;
    padding: 1.8rem 0 2rem;
    box-shadow: 0 0.71rem 1.42rem rgba(31, 32, 65, 0.05)
  }
  &__copyright-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__copyright-text {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    color: rgba(31, 32, 65, 0.75);
    &_creative {
      margin-bottom: 2rem;
    }
  }
  &__social-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 0.3rem;
    &_creative {
      margin-right: 2.2rem;
    }
  }
  &__social-link {
    margin-left: 2rem;
  }
  &__social-image {
    width: 2.1rem;
    padding-top: 0.4rem;
  }
}