doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title FSD UI-kit
body
  .main-page
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./colors-and-types.html" id="test") Colors & Type
      .main-page__preview-container
        .main-page__preview-image.main-page__colors-and-type-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./form-elements.html") Form Elements
      .main-page__preview-container
        .main-page__preview-image.main-page__form-elements-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./cards.html") Cards
      .main-page__preview-container
        .main-page__preview-image.main-page__cards-image
    .main-page__link-and-preview-container
      .main-page__link-container.main-page__ui-kit-link-container_last
        a.main-page__link.main-page__link_last(href="./headers-and-footers.html") Headers & Footers
      .main-page__preview-container
        .main-page__preview-image.main-page__headers-and-footers-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./landing-page.html") Landing Page
      .main-page__preview-container
        .main-page__preview-image.main-page__landing-page-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./search-room.html") Search room
      .main-page__preview-container
        .main-page__preview-image.main-page__landing-page-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./room-details.html") Room Details
      .main-page__preview-container
        .main-page__preview-image.main-page__landing-page-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./registration.html") Registration
      .main-page__preview-container
        .main-page__preview-image.main-page__landing-page-image
    .main-page__link-and-preview-container
      .main-page__link-container
        a.main-page__link(href="./sign-in.html") Sign In
      .main-page__preview-container
        .main-page__preview-image.main-page__landing-page-image