.quicksand {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: normal;
}

.montserrat-regular {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: normal;
}

.montserrat-bold {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}