include ../../components/logo/logo.pug
include ../../components/form-find-hotel-room/form-find-hotel-room.pug
include ../../components/form-registration/form-registration.pug
include ../../components/form-booking/form-booking.pug
include ../../components/form-login/form-login.pug
include ../../components/room-card/room-card.pug


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="keywords" content="FSD, UI-kit, frontend, junior")
    meta(name="description" content="Second task for junior frontend-developer position in FSD")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="src/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="src/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="src/favicons/favicon-16x16.png")
    link(rel="manifest", href="src/favicons/site.webmanifest")
    link(rel="mask-icon", href="src/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Cards
  body
    .cards.js-cards
      .cards__wrapper
        section.cards__logo-section
          +logo()
        section.cards__main-section
          .cards__find-hotel-room
            +form-find-hotel-room()
          .cards__registration
            +form-registration()
          .cards__booking
            +form-booking()
          .cards__login
            +form-login()
          .cards__datepicker-container
            .cards__datepicker
          .cards__room-card-container
            +room-card({
              photos: [
                {src: require('./images/photo1.png').default, alt: 'Photo1'},
                {src: require('./images/photo2.png').default, alt: 'Photo2'},
                {src: require('./images/photo3.png').default, alt: 'Photo3'},
                {src: require('./images/photo4.png').default, alt: 'Photo4'},
              ],
              arrows: 'on',
              rateButtonOptions: {
                id: ['1stStarFirst', '2ndStarFirst', '3rdStarFirst', '4thStarFirst', '5thStarFirst'],
                name: 'ratingFirst',
                initRating: 4
              },
              feedbacksNumber: 145
            })
          .cards__room-card-container
            +room-card({
              photos: [
                {src: require('./images/photo1.png').default, alt: 'Photo1'},
                {src: require('./images/photo2.png').default, alt: 'Photo2'},
                {src: require('./images/photo3.png').default, alt: 'Photo3'},
                {src: require('./images/photo4.png').default, alt: 'Photo4'},
              ],
              arrows: 'off',
              rateButtonOptions: {
                id: ['1stStarFirst', '2ndStarFirst', '3rdStarFirst', '4thStarFirst', '5thStarFirst'],
                name: 'ratingFirst',
                initRating: 4
              },
              feedbacksNumber: 65
            })
