@import '../../variables.scss';

.cards {
  &__wrapper {
    margin: 1rem auto 0;
    @media only screen and (min-width: 768px) {
      max-width: 136rem;
      margin: 0;
    }
  }
  &__logo-section {
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
    @media only screen and (min-width: 768px) {
      margin: 2.9rem 0 0 2.8rem;
      height: 4.5rem;
    }
  }
  &__main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto 0;
    @media only screen and (min-width: 768px) {
      height: 100rem;
      margin: 6.75rem 9.6rem 0 13.2rem;
    }
  }
  &__registration {
    margin-top: 4rem;
  }
  &__login {
    margin-top: 3.8rem;
    margin-bottom: 20rem;
  }
  &__datepicker .datepicker {
    width: 30rem;
  }
  &__datepicker .datepicker--nav {
    padding: 1.7rem;
  }
  &__datepicker .datepicker--nav-title,
  &__datepicker .datepicker--nav-title i {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: map-get($colors, 'dark-shade-100');
  }
  &__datepicker .datepicker--nav-action {
    font-family: 'Material Icons';
    font-size: 2rem;
    color: map-get($colors, 'purple');
  }
  &__datepicker .datepicker--content {
    padding: 1.8rem;
  }
  &__datepicker .datepicker--day-name {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: none;
    color: map-get($colors, 'purple');
  }
  &__datepicker .datepicker--cells {
    margin-top: 1rem;
  }
  &__datepicker .datepicker--cell {
    height: 3.8rem;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: map-get($colors, 'dark-shade-50');
    border-radius: 50%;
  }
  &__datepicker .datepicker--cell-day.-in-range- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    border-radius: 0;
  }
  &__datepicker .datepicker--cell-day.-current- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
  }
  &__datepicker .datepicker--cell-day.-selected- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
  }
  &__datepicker .datepicker--cell-day.-current-.-in-range- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: normal;
    color: map-get($colors, 'dark-shade-50');
  }
  &__datepicker .datepicker--buttons {
    border-top: none;
    padding: 0.3rem 2rem;
    justify-content: space-between;
  }
  &__datepicker .datepicker--buttons .datepicker--button {
    display: block;
    flex: 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: map-get($colors, 'dark-shade-50');
    &:hover {
      background: none;
      color: map-get($colors, 'purple');
    }
  }
}